template/DAN_Mathematics_Obrazets_utf.fdb_latexmk
template/DAN_Mathematics_Obrazets_utf.aux
template/DAN_Mathematics_Obrazets_utf.fls
template/DAN_Mathematics_Obrazets_utf.log
template/DAN_Mathematics_Obrazets_utf.pdf
template/DAN_Mathematics_Obrazets_utf.synctex.gz
template/DAN_Mathematics_Obrazets_utf.tex
main.synctex.gz
.vscode/settings.json
